USE [ValyanMed]
GO
/****** Object:  Table [dbo].[DispozitiveMedicale]    Script Date: 8/22/2025 7:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispozitiveMedicale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NULL,
	[Denumire] [nvarchar](255) NOT NULL,
	[Categorie] [nvarchar](100) NULL,
	[ClasaRisc] [nvarchar](10) NULL,
	[Producator] [nvarchar](255) NULL,
	[ModelTip] [nvarchar](100) NULL,
	[NumarSerie] [nvarchar](100) NULL,
	[CertificareCE] [bit] NULL,
	[DataExpirare] [date] NULL,
	[Specificatii] [nvarchar](max) NULL,
	[DataCreare] [datetime2](7) NULL,
	[DataModificare] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Judet]    Script Date: 8/22/2025 7:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Judet](
	[IdJudet] [int] IDENTITY(1,1) NOT NULL,
	[JudetGuid] [uniqueidentifier] NOT NULL,
	[CodJudet] [nvarchar](10) NOT NULL,
	[Nume] [nvarchar](100) NOT NULL,
	[Siruta] [int] NULL,
	[CodAuto] [nvarchar](5) NULL,
	[Ordine] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdJudet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localitate]    Script Date: 8/22/2025 7:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localitate](
	[IdOras] [int] IDENTITY(1,1) NOT NULL,
	[LocalitateGuid] [uniqueidentifier] NOT NULL,
	[IdJudet] [int] NOT NULL,
	[Nume] [nvarchar](100) NOT NULL,
	[Siruta] [int] NOT NULL,
	[IdTipLocalitate] [int] NULL,
	[CodLocalitate] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialeSanitare]    Script Date: 8/22/2025 7:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialeSanitare](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NULL,
	[Denumire] [nvarchar](255) NOT NULL,
	[Categorie] [nvarchar](100) NULL,
	[Specificatii] [nvarchar](max) NULL,
	[UnitateaMasura] [nvarchar](50) NULL,
	[Sterile] [bit] NULL,
	[UniUzinta] [bit] NULL,
	[DataCreare] [datetime2](7) NULL,
	[DataModificare] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicament]    Script Date: 8/22/2025 7:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicament](
	[MedicamentID] [int] IDENTITY(1,1) NOT NULL,
	[MedicamentGUID] [uniqueidentifier] NOT NULL,
	[Nume] [nvarchar](200) NOT NULL,
	[DenumireComunaInternationala] [nvarchar](200) NOT NULL,
	[Concentratie] [nvarchar](100) NOT NULL,
	[FormaFarmaceutica] [nvarchar](100) NOT NULL,
	[Producator] [nvarchar](200) NOT NULL,
	[CodATC] [varchar](20) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[DataInregistrare] [datetime2](7) NOT NULL,
	[NumarAutorizatie] [varchar](50) NULL,
	[DataAutorizatie] [date] NULL,
	[DataExpirare] [date] NOT NULL,
	[Ambalaj] [nvarchar](200) NULL,
	[Prospect] [ntext] NULL,
	[Contraindicatii] [ntext] NULL,
	[Interactiuni] [ntext] NULL,
	[Pret] [decimal](10, 2) NULL,
	[PretProducator] [decimal](10, 2) NULL,
	[TVA] [decimal](5, 2) NULL,
	[Compensat] [bit] NULL,
	[PrescriptieMedicala] [bit] NULL,
	[Stoc] [int] NOT NULL,
	[StocSiguranta] [int] NOT NULL,
	[DataActualizare] [datetime2](7) NULL,
	[UtilizatorActualizare] [nvarchar](100) NULL,
	[Observatii] [ntext] NULL,
	[Activ] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicamentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partener]    Script Date: 8/22/2025 7:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partener](
	[PartenerId] [int] IDENTITY(1,1) NOT NULL,
	[PartenerGuid] [uniqueidentifier] NOT NULL,
	[CodIntern] [nvarchar](50) NOT NULL,
	[Denumire] [nvarchar](200) NOT NULL,
	[CodFiscal] [nvarchar](50) NULL,
	[Judet] [nvarchar](100) NULL,
	[Localitate] [nvarchar](100) NULL,
	[Adresa] [nvarchar](500) NULL,
	[DataCreare] [datetime2](7) NOT NULL,
	[DataActualizare] [datetime2](7) NOT NULL,
	[UtilizatorCreare] [nvarchar](100) NULL,
	[UtilizatorActualizare] [nvarchar](100) NULL,
	[Activ] [bit] NOT NULL,
 CONSTRAINT [PK_Partener] PRIMARY KEY CLUSTERED 
(
	[PartenerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persoana]    Script Date: 8/22/2025 7:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persoana](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Nume] [nvarchar](100) NOT NULL,
	[Prenume] [nvarchar](100) NOT NULL,
	[Judet] [nvarchar](100) NULL,
	[Localitate] [nvarchar](100) NULL,
	[Strada] [nvarchar](150) NULL,
	[NumarStrada] [nvarchar](50) NULL,
	[CodPostal] [nvarchar](20) NULL,
	[PozitieOrganizatie] [nvarchar](100) NULL,
	[DataNasterii] [date] NULL,
	[DataCreare] [datetime] NULL,
	[DataModificare] [datetime] NULL,
	[CNP] [varchar](13) NULL,
	[TipActIdentitate] [varchar](5) NULL,
	[SerieActIdentitate] [varchar](2) NULL,
	[NumarActIdentitate] [varchar](6) NULL,
	[StareCivila] [varchar](50) NULL,
	[Gen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipLocalitate]    Script Date: 8/22/2025 7:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipLocalitate](
	[IdTipLocalitate] [int] IDENTITY(1,1) NOT NULL,
	[CodTipLocalitate] [varchar](10) NULL,
	[DenumireTipLocalitate] [varchar](100) NULL,
 CONSTRAINT [PK_TipLocalitate] PRIMARY KEY CLUSTERED 
(
	[IdTipLocalitate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizator]    Script Date: 8/22/2025 7:27:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizator](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[PersoanaId] [int] NOT NULL,
	[NumeUtilizator] [nvarchar](100) NOT NULL,
	[ParolaHash] [nvarchar](512) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Telefon] [nvarchar](50) NULL,
	[DataCreare] [datetime] NULL,
	[DataModificare] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DispozitiveMedicale] ON 

INSERT [dbo].[DispozitiveMedicale] ([Id], [Guid], [Denumire], [Categorie], [ClasaRisc], [Producator], [ModelTip], [NumarSerie], [CertificareCE], [DataExpirare], [Specificatii], [DataCreare], [DataModificare]) VALUES (1, N'e3aec65c-a47e-f011-b334-94bb437e849c', N'Electrocardiograf', N'Diagnostic', N'IIa', N'Schiller AG', N'AT-1', NULL, 1, NULL, N'ECG cu 12 deriva?ii, ecran LCD, imprimanta integrata', CAST(N'2025-08-21T18:34:45.4800000' AS DateTime2), CAST(N'2025-08-21T18:34:45.4800000' AS DateTime2))
INSERT [dbo].[DispozitiveMedicale] ([Id], [Guid], [Denumire], [Categorie], [ClasaRisc], [Producator], [ModelTip], [NumarSerie], [CertificareCE], [DataExpirare], [Specificatii], [DataCreare], [DataModificare]) VALUES (2, N'e4aec65c-a47e-f011-b334-94bb437e849c', N'Tensiometru digital', N'Monitorizare', N'IIa', N'Omron Healthcare', N'M3 Comfort', NULL, 1, NULL, N'Masurare automata tensiune arteriala, manseta 22-42cm', CAST(N'2025-08-21T18:34:45.4800000' AS DateTime2), CAST(N'2025-08-21T18:34:45.4800000' AS DateTime2))
INSERT [dbo].[DispozitiveMedicale] ([Id], [Guid], [Denumire], [Categorie], [ClasaRisc], [Producator], [ModelTip], [NumarSerie], [CertificareCE], [DataExpirare], [Specificatii], [DataCreare], [DataModificare]) VALUES (3, N'e5aec65c-a47e-f011-b334-94bb437e849c', N'Pulsoximetru', N'Monitorizare', N'IIa', N'Masimo', N'MightySat', NULL, 1, NULL, N'Masurare satura?ie oxigen ?i puls, ecran OLED', CAST(N'2025-08-21T18:34:45.4800000' AS DateTime2), CAST(N'2025-08-21T18:34:45.4800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DispozitiveMedicale] OFF
GO
SET IDENTITY_INSERT [dbo].[Judet] ON 

INSERT [dbo].[Judet] ([IdJudet], [JudetGuid], [CodJudet], [Nume], [Siruta], [CodAuto], [Ordine]) VALUES (1, N'1bbeb1fa-0749-f011-b32c-94bb437e849c', N'1', N'Alba', 10, N'AB', 1)
INSERT [dbo].[Judet] ([IdJudet], [JudetGuid], [CodJudet], [Nume], [Siruta], [CodAuto], [Ordine]) VALUES (2, N'1cbeb1fa-0749-f011-b32c-94bb437e849c', N'2', N'Arad', 29, N'AR', 2)
INSERT [dbo].[Judet] ([IdJudet], [JudetGuid], [CodJudet], [Nume], [Siruta], [CodAuto], [Ordine]) VALUES (3, N'1dbeb1fa-0749-f011-b32c-94bb437e849c', N'3', N'Arges', 38, N'AG', 3)
SET IDENTITY_INSERT [dbo].[Judet] OFF
GO
SET IDENTITY_INSERT [dbo].[Localitate] ON 

INSERT [dbo].[Localitate] ([IdOras], [LocalitateGuid], [IdJudet], [Nume], [Siruta], [IdTipLocalitate], [CodLocalitate]) VALUES (4773, N'eb84d9f3-086a-f011-b330-94bb437e849c', 1, N'Cetatea de Balta', 3958, 6, N'116')
INSERT [dbo].[Localitate] ([IdOras], [LocalitateGuid], [IdJudet], [Nume], [Siruta], [IdTipLocalitate], [CodLocalitate]) VALUES (4774, N'ec84d9f3-086a-f011-b330-94bb437e849c', 1, N'Cetea', 4393, 4, N'117')
INSERT [dbo].[Localitate] ([IdOras], [LocalitateGuid], [IdJudet], [Nume], [Siruta], [IdTipLocalitate], [CodLocalitate]) VALUES (4775, N'ed84d9f3-086a-f011-b330-94bb437e849c', 1, N'Cheia', 6663, 4, N'118')
GO
SET IDENTITY_INSERT [dbo].[Localitate] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialeSanitare] ON 

INSERT [dbo].[MaterialeSanitare] ([Id], [Guid], [Denumire], [Categorie], [Specificatii], [UnitateaMasura], [Sterile], [UniUzinta], [DataCreare], [DataModificare]) VALUES (1, N'd4aec65c-a47e-f011-b334-94bb437e849c', N'Seringa hipodermica 5ml', N'Administrare medicamente', N'Seringa cu ac 21G x 1.5, luer lock', N'bucata', 1, 1, CAST(N'2025-08-21T18:34:45.4700000' AS DateTime2), CAST(N'2025-08-21T18:34:45.4700000' AS DateTime2))
INSERT [dbo].[MaterialeSanitare] ([Id], [Guid], [Denumire], [Categorie], [Specificatii], [UnitateaMasura], [Sterile], [UniUzinta], [DataCreare], [DataModificare]) VALUES (2, N'd5aec65c-a47e-f011-b334-94bb437e849c', N'Comprese sterile 10x10 cm', N'Pansamente', N'Comprese din bumbac steril, ambalate individual', N'pachet/10buc', 1, 1, CAST(N'2025-08-21T18:34:45.4700000' AS DateTime2), CAST(N'2025-08-21T18:34:45.4700000' AS DateTime2))
INSERT [dbo].[MaterialeSanitare] ([Id], [Guid], [Denumire], [Categorie], [Specificatii], [UnitateaMasura], [Sterile], [UniUzinta], [DataCreare], [DataModificare]) VALUES (3, N'd6aec65c-a47e-f011-b334-94bb437e849c', N'Bandaj elastic autoadeziv', N'Bandaje', N'Bandaj elastic 10cm x 4.5m, fara latex', N'rola', 0, 1, CAST(N'2025-08-21T18:34:45.4700000' AS DateTime2), CAST(N'2025-08-21T18:34:45.4700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MaterialeSanitare] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicament] ON 

GO
SET IDENTITY_INSERT [dbo].[Medicament] OFF
GO
SET IDENTITY_INSERT [dbo].[Partener] ON 

INSERT [dbo].[Partener] ([PartenerId], [PartenerGuid], [CodIntern], [Denumire], [CodFiscal], [Judet], [Localitate], [Adresa], [DataCreare], [DataActualizare], [UtilizatorCreare], [UtilizatorActualizare], [Activ]) VALUES (1, N'ff5a36fd-9d7e-f011-b334-94bb437e849c', N'1', N'VenyaCorp SRL', N'RO123456', N'Alba', N'Abrud', N'Dupa Ziduri nr. 45', CAST(N'2025-08-21T17:49:08.1600000' AS DateTime2), CAST(N'2025-08-21T18:15:35.3400000' AS DateTime2), N'Iancu Valeria', N'Iancu Valeria', 1)
SET IDENTITY_INSERT [dbo].[Partener] OFF
GO
SET IDENTITY_INSERT [dbo].[Persoana] ON 

SET IDENTITY_INSERT [dbo].[Persoana] OFF
GO
SET IDENTITY_INSERT [dbo].[TipLocalitate] ON 

INSERT [dbo].[TipLocalitate] ([IdTipLocalitate], [CodTipLocalitate], [DenumireTipLocalitate]) VALUES (1, N'Loc', N'LOCALITATE')
INSERT [dbo].[TipLocalitate] ([IdTipLocalitate], [CodTipLocalitate], [DenumireTipLocalitate]) VALUES (2, N'Mun', N'MUNICIPIU')
INSERT [dbo].[TipLocalitate] ([IdTipLocalitate], [CodTipLocalitate], [DenumireTipLocalitate]) VALUES (3, N'Ors', N'ORAS')
SET IDENTITY_INSERT [dbo].[TipLocalitate] OFF
GO
SET IDENTITY_INSERT [dbo].[Utilizator] ON 

INSERT [dbo].[Utilizator] ([Id], [Guid], [PersoanaId], [NumeUtilizator], [ParolaHash], [Email], [Telefon], [DataCreare], [DataModificare]) VALUES (16, N'54c963ea-205a-f011-bb5d-20235109a3a2', 4, N'Aurelian', N'$2a$11$72AfXlAg.Mv7n.huKtQQNeoz9agGIdBfCCpjqtDmKxaBdCnOTuBqO', N'Aurelian@yahoo.com', N'0740-568384', CAST(N'2025-07-06T07:23:07.633' AS DateTime), CAST(N'2025-08-21T16:29:19.660' AS DateTime))
INSERT [dbo].[Utilizator] ([Id], [Guid], [PersoanaId], [NumeUtilizator], [ParolaHash], [Email], [Telefon], [DataCreare], [DataModificare]) VALUES (17, N'f23800a7-315a-f011-bb5d-20235109a3a2', 3, N'Valeria', N'$2a$11$.SpaNvlKam/mgJXuncDHXeqSzVE2ygP8gDmfxfOxB7t8zHWJ.f05e', N'Valeria@mail.com', N'0740/568384', CAST(N'2025-07-06T09:22:56.017' AS DateTime), CAST(N'2025-08-15T07:41:03.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[Utilizator] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Oras_Nume_Judet]    Script Date: 8/22/2025 7:27:31 PM ******/
ALTER TABLE [dbo].[Localitate] ADD  CONSTRAINT [UQ_Oras_Nume_Judet] UNIQUE NONCLUSTERED 
(
	[IdJudet] ASC,
	[Nume] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Medicame__275350AA66DCF67A]    Script Date: 8/22/2025 7:27:31 PM ******/
ALTER TABLE [dbo].[Medicament] ADD UNIQUE NONCLUSTERED 
(
	[MedicamentGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Partener_CodIntern]    Script Date: 8/22/2025 7:27:31 PM ******/
ALTER TABLE [dbo].[Partener] ADD  CONSTRAINT [UQ_Partener_CodIntern] UNIQUE NONCLUSTERED 
(
	[CodIntern] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Partener_Guid]    Script Date: 8/22/2025 7:27:31 PM ******/
ALTER TABLE [dbo].[Partener] ADD  CONSTRAINT [UQ_Partener_Guid] UNIQUE NONCLUSTERED 
(
	[PartenerGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DispozitiveMedicale] ADD  DEFAULT (newsequentialid()) FOR [Guid]
GO
ALTER TABLE [dbo].[DispozitiveMedicale] ADD  DEFAULT ((0)) FOR [CertificareCE]
GO
ALTER TABLE [dbo].[DispozitiveMedicale] ADD  DEFAULT (getdate()) FOR [DataCreare]
GO
ALTER TABLE [dbo].[DispozitiveMedicale] ADD  DEFAULT (getdate()) FOR [DataModificare]
GO
ALTER TABLE [dbo].[Judet] ADD  DEFAULT (newsequentialid()) FOR [JudetGuid]
GO
ALTER TABLE [dbo].[Localitate] ADD  DEFAULT (newsequentialid()) FOR [LocalitateGuid]
GO
ALTER TABLE [dbo].[MaterialeSanitare] ADD  DEFAULT (newsequentialid()) FOR [Guid]
GO
ALTER TABLE [dbo].[MaterialeSanitare] ADD  DEFAULT ((0)) FOR [Sterile]
GO
ALTER TABLE [dbo].[MaterialeSanitare] ADD  DEFAULT ((1)) FOR [UniUzinta]
GO
ALTER TABLE [dbo].[MaterialeSanitare] ADD  DEFAULT (getdate()) FOR [DataCreare]
GO
ALTER TABLE [dbo].[MaterialeSanitare] ADD  DEFAULT (getdate()) FOR [DataModificare]
GO
ALTER TABLE [dbo].[Medicament] ADD  DEFAULT (newsequentialid()) FOR [MedicamentGUID]
GO
ALTER TABLE [dbo].[Medicament] ADD  DEFAULT (getdate()) FOR [DataInregistrare]
GO
ALTER TABLE [dbo].[Medicament] ADD  DEFAULT ((19.00)) FOR [TVA]
GO
ALTER TABLE [dbo].[Medicament] ADD  DEFAULT ((0)) FOR [Compensat]
GO
ALTER TABLE [dbo].[Medicament] ADD  DEFAULT ((0)) FOR [PrescriptieMedicala]
GO
ALTER TABLE [dbo].[Medicament] ADD  DEFAULT ((0)) FOR [Stoc]
GO
ALTER TABLE [dbo].[Medicament] ADD  DEFAULT ((0)) FOR [StocSiguranta]
GO
ALTER TABLE [dbo].[Medicament] ADD  DEFAULT (getdate()) FOR [DataActualizare]
GO
ALTER TABLE [dbo].[Medicament] ADD  DEFAULT ((1)) FOR [Activ]
GO
ALTER TABLE [dbo].[Partener] ADD  DEFAULT (newsequentialid()) FOR [PartenerGuid]
GO
ALTER TABLE [dbo].[Partener] ADD  DEFAULT (getdate()) FOR [DataCreare]
GO
ALTER TABLE [dbo].[Partener] ADD  DEFAULT (getdate()) FOR [DataActualizare]
GO
ALTER TABLE [dbo].[Partener] ADD  DEFAULT ((1)) FOR [Activ]
GO
ALTER TABLE [dbo].[Persoana] ADD  DEFAULT (newsequentialid()) FOR [Guid]
GO
ALTER TABLE [dbo].[Persoana] ADD  DEFAULT (getdate()) FOR [DataCreare]
GO
ALTER TABLE [dbo].[Utilizator] ADD  DEFAULT (newsequentialid()) FOR [Guid]
GO
ALTER TABLE [dbo].[Utilizator] ADD  DEFAULT (getdate()) FOR [DataCreare]
GO
ALTER TABLE [dbo].[Localitate]  WITH CHECK ADD FOREIGN KEY([IdJudet])
REFERENCES [dbo].[Judet] ([IdJudet])
GO
ALTER TABLE [dbo].[Localitate]  WITH CHECK ADD  CONSTRAINT [FK_Localitate_TipLocalitate] FOREIGN KEY([IdTipLocalitate])
REFERENCES [dbo].[TipLocalitate] ([IdTipLocalitate])
GO
ALTER TABLE [dbo].[Localitate] CHECK CONSTRAINT [FK_Localitate_TipLocalitate]
GO
ALTER TABLE [dbo].[Utilizator]  WITH CHECK ADD  CONSTRAINT [FK_Utilizator_Persoana] FOREIGN KEY([PersoanaId])
REFERENCES [dbo].[Persoana] ([Id])
GO
ALTER TABLE [dbo].[Utilizator] CHECK CONSTRAINT [FK_Utilizator_Persoana]
GO
ALTER TABLE [dbo].[Medicament]  WITH CHECK ADD CHECK  (([Status]='Suspendat' OR [Status]='Inactiv' OR [Status]='Activ'))
GO
