@page "/medical/dashboard"
@using global::Shared.DTOs.Medical
@using global::Shared.Models.Medical

<PageTitle>Dashboard Medical - ValyanMed</PageTitle>

<!-- TODO: Implementare cu Radzen Components -->
<div class="p-4">
    <h4>Dashboard Medical</h4>
    <p>Pagina va fi refacuta cu Radzen Components</p>
</div>

@code {
    // Schelet pentru refactorizare cu Radzen
}