@page "/medical/triaj"
@using global::Shared.DTOs.Medical
@using global::Shared.Models.Medical

<PageTitle>Triaj Pacienti - ValyanMed</PageTitle>

<!-- TODO: Implementare cu Radzen Components -->
<div class="p-4">
    <h4>Triaj Pacienti</h4>
    <p>Pagina va fi refacuta cu Radzen Components</p>
</div>

@code {
    // Schelet pentru refactorizare cu Radzen
}