@page "/medical/pacienti"
@using global::Shared.DTOs.Medical
@using global::Shared.Models.Medical
@using global::Shared.Common

<PageTitle>Pacienti - ValyanMed</PageTitle>

<!-- TODO: Implementare cu Radzen DataGrid -->
<div class="p-4">
    <h4>Lista Pacienti</h4>
    <p>Pagina va fi refacuta cu Radzen DataGrid</p>
</div>

@code {
    // Schelet pentru refactorizare cu Radzen
}