@page "/medical/pacienti/nou"
@using global::Shared.DTOs.Medical

<PageTitle>Pacient nou - ValyanMed</PageTitle>

<!-- TODO: Implementare cu Radzen Form -->
<div class="p-4">
    <h4>Inregistrare Pacient Nou</h4>
    <p>Pagina va fi refacuta cu Radzen Form</p>
</div>

@code {
    // Schelet pentru refactorizare cu Radzen
}