@page "/medical/semne-vitale"
@using global::Shared.DTOs.Medical
@using global::Shared.Models.Medical

<PageTitle>Semne Vitale - ValyanMed</PageTitle>

<!-- TODO: Implementare cu Radzen Form si Chart -->
<div class="p-4">
    <h4>Inregistrare Semne Vitale</h4>
    <p>Pagina va fi refacuta cu Radzen Form si Chart</p>
</div>

@code {
    // Schelet pentru refactorizare cu Radzen
}