USE [ValyanMed]
GO
/****** Object:  StoredProcedure [dbo].[GetAllJudete]    Script Date: 04.09.2025 14:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[GetAllJudete]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Return all counties - matches JudetDto structure
    SELECT 
        IdJudet,
        JudetGuid,
        CodJudet,
        Nume,
        Siruta,
        CodAuto,
        Ordine
    FROM dbo.Judet
    ORDER BY Nume;
END
