USE [ValyanMed]
GO
/****** Object:  StoredProcedure [dbo].[Localitate_GetByJudet]    Script Date: 04.09.2025 14:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Localitate_GetByJudet]
    @IdJudet INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Return localities for a specific county - matches LocalitateDto structure
    -- LocalitateDto has: IdOras, LocalitateGuid, IdJudet, Nume, Siruta
    SELECT 
        IdOras,               -- Primary key (not IdLocalitate)
        LocalitateGuid,
        IdJudet,
        Nume,
        Siruta
    FROM dbo.Localitate
    WHERE IdJudet = @IdJudet
    ORDER BY Nume;
END
