USE [ValyanMed]
GO
/****** Object:  StoredProcedure [dbo].[GetAllJudete]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllJudete]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Return all counties - matches JudetDto structure
    SELECT 
        IdJudet,
        JudetGuid,
        CodJudet,
        Nume,
        Siruta,
        CodAuto,
        Ordine
    FROM dbo.Judet
    ORDER BY Nume;
END
GO
/****** Object:  StoredProcedure [dbo].[Localitate_GetByJudet]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Localitate_GetByJudet]
    @IdJudet INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Return localities for a specific county - matches LocalitateDto structure
    -- LocalitateDto has: IdOras, LocalitateGuid, IdJudet, Nume, Siruta
    SELECT 
        IdOras,               -- Primary key (not IdLocalitate)
        LocalitateGuid,
        IdJudet,
        Nume,
        Siruta
    FROM dbo.Localitate
    WHERE IdJudet = @IdJudet
    ORDER BY Nume;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePersoana]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create new person
CREATE PROCEDURE [dbo].[sp_CreatePersoana]
    @Guid uniqueidentifier,
    @Nume nvarchar(100),
    @Prenume nvarchar(100),
    @Judet nvarchar(100) = NULL,
    @Localitate nvarchar(100) = NULL,
    @Strada nvarchar(150) = NULL,
    @NumarStrada nvarchar(50) = NULL,
    @CodPostal nvarchar(20) = NULL,
    @PozitieOrganizatie nvarchar(100) = NULL,
    @DataNasterii date = NULL,
    @CNP nvarchar(13) = NULL,
    @TipActIdentitate nvarchar(5) = NULL,
    @SerieActIdentitate nvarchar(2) = NULL,
    @NumarActIdentitate nvarchar(6) = NULL,
    @StareCivila nvarchar(50) = NULL,
    @Gen nvarchar(50) = NULL
AS
BEGIN
    INSERT INTO Persoana (
        Guid, Nume, Prenume, Judet, Localitate, Strada, 
        NumarStrada, CodPostal, PozitieOrganizatie, DataNasterii,
        DataCreare, CNP, TipActIdentitate, SerieActIdentitate,
        NumarActIdentitate, StareCivila, Gen
    ) VALUES (
        @Guid, @Nume, @Prenume, @Judet, @Localitate, @Strada,
        @NumarStrada, @CodPostal, @PozitieOrganizatie, @DataNasterii,
        GETDATE(), @CNP, @TipActIdentitate, @SerieActIdentitate,
        @NumarActIdentitate, @StareCivila, @Gen
    )
    
    SELECT CAST(SCOPE_IDENTITY() as int)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePersoana]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete person
CREATE PROCEDURE [dbo].[sp_DeletePersoana]
    @Id int
AS
BEGIN
    DELETE FROM Persoana WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DispozitiveMedicale_Create]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DispozitiveMedicale_Create]
    @Denumire NVARCHAR(255),
    @Categorie NVARCHAR(100) = NULL,
    @ClasaRisc NVARCHAR(10) = NULL,
    @Producator NVARCHAR(255) = NULL,
    @ModelTip NVARCHAR(100) = NULL,
    @NumarSerie NVARCHAR(100) = NULL,
    @CertificareCE BIT = 0,
    @DataExpirare DATE = NULL,
    @Specificatii NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        DECLARE @NewId INT;
        
        INSERT INTO dbo.DispozitiveMedicale (
            Denumire,
            Categorie,
            ClasaRisc,
            Producator,
            ModelTip,
            NumarSerie,
            CertificareCE,
            DataExpirare,
            Specificatii,
            DataCreare,
            DataModificare
        )
        VALUES (
            @Denumire,
            @Categorie,
            @ClasaRisc,
            @Producator,
            @ModelTip,
            @NumarSerie,
            @CertificareCE,
            @DataExpirare,
            @Specificatii,
            GETDATE(),
            GETDATE()
        );
        
        SET @NewId = SCOPE_IDENTITY();
        SELECT @NewId AS Id;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DispozitiveMedicale_Delete]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DispozitiveMedicale_Delete]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.DispozitiveMedicale WHERE Id = @Id)
        BEGIN
            RAISERROR('Dispozitivul medical nu a fost gasit.', 16, 1);
            RETURN;
        END
        
        DELETE FROM dbo.DispozitiveMedicale WHERE Id = @Id;
        
        SELECT @@ROWCOUNT AS RowsAffected;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DispozitiveMedicale_GetAll]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DispozitiveMedicale_GetAll]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        Guid,
        Denumire,
        Categorie,
        ClasaRisc,
        Producator,
        ModelTip,
        NumarSerie,
        CertificareCE,
        DataExpirare,
        Specificatii,
        DataCreare,
        DataModificare
    FROM dbo.DispozitiveMedicale
    ORDER BY Denumire ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DispozitiveMedicale_GetAllGrouped]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DispozitiveMedicale_GetAllGrouped]
    @Search NVARCHAR(255) = NULL,
    @Categorie NVARCHAR(100) = NULL,
    @ClasaRisc NVARCHAR(10) = NULL,
    @GroupBy NVARCHAR(200) = NULL,
    @Sort NVARCHAR(400) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Build ORDER BY from GroupBy + Sort (whitelisted)
    DECLARE @OrderBy NVARCHAR(MAX) = N'';
    DECLARE @token NVARCHAR(100), @dir NVARCHAR(4);

    -- Append group-by columns (ASC)
    DECLARE @GroupByWork NVARCHAR(200) = @GroupBy;
    WHILE (@GroupByWork IS NOT NULL AND LEN(@GroupByWork) > 0)
    BEGIN
        DECLARE @pos INT = CHARINDEX(',', @GroupByWork);
        IF @pos > 0
        BEGIN
            SET @token = LTRIM(RTRIM(SUBSTRING(@GroupByWork, 1, @pos - 1)));
            SET @GroupByWork = SUBSTRING(@GroupByWork, @pos + 1, LEN(@GroupByWork));
        END
        ELSE
        BEGIN
            SET @token = LTRIM(RTRIM(@GroupByWork));
            SET @GroupByWork = NULL;
        END

        SET @token = CASE @token
            WHEN N'Id' THEN N'Id'
            WHEN N'Denumire' THEN N'Denumire'
            WHEN N'Categorie' THEN N'Categorie'
            WHEN N'ClasaRisc' THEN N'ClasaRisc'
            WHEN N'Producator' THEN N'Producator'
            WHEN N'ModelTip' THEN N'ModelTip'
            WHEN N'CertificareCE' THEN N'CertificareCE'
            WHEN N'DataExpirare' THEN N'DataExpirare'
            WHEN N'DataCreare' THEN N'DataCreare'
            WHEN N'DataModificare' THEN N'DataModificare'
            ELSE NULL END;

        IF (@token IS NOT NULL)
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @token, N' ASC');
    END

    -- Append sort definitions
    DECLARE @SortWork NVARCHAR(400) = @Sort;
    WHILE (@SortWork IS NOT NULL AND LEN(@SortWork) > 0)
    BEGIN
        DECLARE @part NVARCHAR(100);
        DECLARE @pos2 INT = CHARINDEX(',', @SortWork);
        IF @pos2 > 0
        BEGIN
            SET @part = LTRIM(RTRIM(SUBSTRING(@SortWork, 1, @pos2 - 1)));
            SET @SortWork = SUBSTRING(@SortWork, @pos2 + 1, LEN(@SortWork));
        END
        ELSE
        BEGIN
            SET @part = LTRIM(RTRIM(@SortWork));
            SET @SortWork = NULL;
        END

        -- split part as col[:dir]
        DECLARE @col NVARCHAR(100) = @part;
        DECLARE @colon INT = CHARINDEX(':', @part);
        IF @colon > 0
        BEGIN
            SET @col = LTRIM(RTRIM(SUBSTRING(@part, 1, @colon - 1)));
            SET @dir = LTRIM(RTRIM(SUBSTRING(@part, @colon + 1, 10)));
        END
        ELSE SET @dir = N'asc';

        SET @col = CASE @col
            WHEN N'Id' THEN N'Id'
            WHEN N'Denumire' THEN N'Denumire'
            WHEN N'Categorie' THEN N'Categorie'
            WHEN N'ClasaRisc' THEN N'ClasaRisc'
            WHEN N'Producator' THEN N'Producator'
            WHEN N'ModelTip' THEN N'ModelTip'
            WHEN N'CertificareCE' THEN N'CertificareCE'
            WHEN N'DataExpirare' THEN N'DataExpirare'
            WHEN N'DataCreare' THEN N'DataCreare'
            WHEN N'DataModificare' THEN N'DataModificare'
            ELSE NULL END;

        IF (@col IS NOT NULL)
        BEGIN
            SET @dir = CASE WHEN LOWER(@dir) = 'desc' THEN N'DESC' ELSE N'ASC' END;
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @col, N' ', @dir);
        END
    END

    IF (LEN(@OrderBy) = 0) SET @OrderBy = N'Denumire ASC';

    DECLARE @sql NVARCHAR(MAX) = N'
SELECT Id, Guid, Denumire, Categorie, ClasaRisc, Producator, ModelTip, NumarSerie, CertificareCE, DataExpirare, Specificatii, DataCreare, DataModificare
FROM dbo.DispozitiveMedicale WITH (NOLOCK)
WHERE (@Search IS NULL OR @Search = '''' OR 
       UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Producator) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(ModelTip) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Specificatii) LIKE ''%'' + UPPER(@Search) + ''%'')
  AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie)
  AND (@ClasaRisc IS NULL OR @ClasaRisc = '''' OR @ClasaRisc = ''toate'' OR ClasaRisc = @ClasaRisc)
ORDER BY ' + @OrderBy + '
OPTION (RECOMPILE);';

    EXEC sp_executesql
        @sql,
        N'@Search NVARCHAR(255), @Categorie NVARCHAR(100), @ClasaRisc NVARCHAR(10)',
        @Search = @Search, @Categorie = @Categorie, @ClasaRisc = @ClasaRisc;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DispozitiveMedicale_GetById]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DispozitiveMedicale_GetById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        Guid,
        Denumire,
        Categorie,
        ClasaRisc,
        Producator,
        ModelTip,
        NumarSerie,
        CertificareCE,
        DataExpirare,
        Specificatii,
        DataCreare,
        DataModificare
    FROM dbo.DispozitiveMedicale
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DispozitiveMedicale_GetPaged]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DispozitiveMedicale_GetPaged]
    @Search NVARCHAR(255) = NULL,
    @Categorie NVARCHAR(100) = NULL,
    @ClasaRisc NVARCHAR(10) = NULL,
    @Page INT = 1,
    @PageSize INT = 25,
    @Sort NVARCHAR(400) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Page IS NULL OR @Page < 1) SET @Page = 1;
    IF (@PageSize IS NULL OR @PageSize < 1) SET @PageSize = 25;
    IF (@PageSize > 5000) SET @PageSize = 5000;

    DECLARE @Offset INT = (@Page - 1) * @PageSize;
    DECLARE @OrderBy NVARCHAR(MAX) = N'Denumire ASC';

    -- Build ORDER BY from Sort parameter
    IF (@Sort IS NOT NULL AND LEN(@Sort) > 0)
    BEGIN
        IF (@Sort LIKE '%desc%')
            SET @OrderBy = N'Denumire DESC';
        ELSE IF (@Sort LIKE '%asc%')
            SET @OrderBy = N'Denumire ASC';
    END

    DECLARE @sql NVARCHAR(MAX) = N'
    SELECT Id, Guid, Denumire, Categorie, ClasaRisc, Producator, ModelTip, NumarSerie, CertificareCE, DataExpirare, Specificatii, DataCreare, DataModificare
    FROM dbo.DispozitiveMedicale
    WHERE (@Search IS NULL OR @Search = '''' OR 
           UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
           UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
           UPPER(Producator) LIKE ''%'' + UPPER(@Search) + ''%'' OR
           UPPER(ModelTip) LIKE ''%'' + UPPER(@Search) + ''%'')
      AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie)
      AND (@ClasaRisc IS NULL OR @ClasaRisc = '''' OR @ClasaRisc = ''toate'' OR ClasaRisc = @ClasaRisc)
    ORDER BY ' + @OrderBy + '
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1)
    FROM dbo.DispozitiveMedicale
    WHERE (@Search IS NULL OR @Search = '''' OR 
           UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
           UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
           UPPER(Producator) LIKE ''%'' + UPPER(@Search) + ''%'' OR
           UPPER(ModelTip) LIKE ''%'' + UPPER(@Search) + ''%'')
      AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie)
      AND (@ClasaRisc IS NULL OR @ClasaRisc = '''' OR @ClasaRisc = ''toate'' OR ClasaRisc = @ClasaRisc);';

    EXEC sp_executesql
        @sql,
        N'@Search NVARCHAR(255), @Categorie NVARCHAR(100), @ClasaRisc NVARCHAR(10), @Offset INT, @PageSize INT',
        @Search = @Search, @Categorie = @Categorie, @ClasaRisc = @ClasaRisc, @Offset = @Offset, @PageSize = @PageSize;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DispozitiveMedicale_GetPagedGrouped]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DispozitiveMedicale_GetPagedGrouped]
    @Search NVARCHAR(255) = NULL,
    @Categorie NVARCHAR(100) = NULL,
    @ClasaRisc NVARCHAR(10) = NULL,
    @GroupBy NVARCHAR(200) = NULL,
    @Sort NVARCHAR(400) = NULL,
    @Page INT = 1,
    @PageSize INT = 25
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Page IS NULL OR @Page < 1) SET @Page = 1;
    IF (@PageSize IS NULL OR @PageSize < 1) SET @PageSize = 25;
    IF (@PageSize > 1000) SET @PageSize = 1000;

    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    -- Build ORDER BY from GroupBy + Sort (whitelisted)
    DECLARE @OrderBy NVARCHAR(MAX) = N'';
    DECLARE @token NVARCHAR(100), @dir NVARCHAR(4);

    -- Append group-by columns (ASC)
    DECLARE @GroupByWork NVARCHAR(200) = @GroupBy;
    WHILE (@GroupByWork IS NOT NULL AND LEN(@GroupByWork) > 0)
    BEGIN
        DECLARE @pos INT = CHARINDEX(',', @GroupByWork);
        IF @pos > 0
        BEGIN
            SET @token = LTRIM(RTRIM(SUBSTRING(@GroupByWork, 1, @pos - 1)));
            SET @GroupByWork = SUBSTRING(@GroupByWork, @pos + 1, LEN(@GroupByWork));
        END
        ELSE
        BEGIN
            SET @token = LTRIM(RTRIM(@GroupByWork));
            SET @GroupByWork = NULL;
        END

        SET @token = CASE @token
            WHEN N'Id' THEN N'Id'
            WHEN N'Denumire' THEN N'Denumire'
            WHEN N'Categorie' THEN N'Categorie'
            WHEN N'ClasaRisc' THEN N'ClasaRisc'
            WHEN N'Producator' THEN N'Producator'
            WHEN N'ModelTip' THEN N'ModelTip'
            WHEN N'CertificareCE' THEN N'CertificareCE'
            WHEN N'DataExpirare' THEN N'DataExpirare'
            WHEN N'DataCreare' THEN N'DataCreare'
            WHEN N'DataModificare' THEN N'DataModificare'
            ELSE NULL END;

        IF (@token IS NOT NULL)
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @token, N' ASC');
    END

    -- Append sort definitions
    DECLARE @SortWork NVARCHAR(400) = @Sort;
    WHILE (@SortWork IS NOT NULL AND LEN(@SortWork) > 0)
    BEGIN
        DECLARE @part NVARCHAR(100);
        DECLARE @pos2 INT = CHARINDEX(',', @SortWork);
        IF @pos2 > 0
        BEGIN
            SET @part = LTRIM(RTRIM(SUBSTRING(@SortWork, 1, @pos2 - 1)));
            SET @SortWork = SUBSTRING(@SortWork, @pos2 + 1, LEN(@SortWork));
        END
        ELSE
        BEGIN
            SET @part = LTRIM(RTRIM(@SortWork));
            SET @SortWork = NULL;
        END

        -- split part as col[:dir]
        DECLARE @col NVARCHAR(100) = @part;
        DECLARE @colon INT = CHARINDEX(':', @part);
        IF @colon > 0
        BEGIN
            SET @col = LTRIM(RTRIM(SUBSTRING(@part, 1, @colon - 1)));
            SET @dir = LTRIM(RTRIM(SUBSTRING(@part, @colon + 1, 10)));
        END
        ELSE SET @dir = N'asc';

        SET @col = CASE @col
            WHEN N'Id' THEN N'Id'
            WHEN N'Denumire' THEN N'Denumire'
            WHEN N'Categorie' THEN N'Categorie'
            WHEN N'ClasaRisc' THEN N'ClasaRisc'
            WHEN N'Producator' THEN N'Producator'
            WHEN N'ModelTip' THEN N'ModelTip'
            WHEN N'CertificareCE' THEN N'CertificareCE'
            WHEN N'DataExpirare' THEN N'DataExpirare'
            WHEN N'DataCreare' THEN N'DataCreare'
            WHEN N'DataModificare' THEN N'DataModificare'
            ELSE NULL END;

        IF (@col IS NOT NULL)
        BEGIN
            SET @dir = CASE WHEN LOWER(@dir) = 'desc' THEN N'DESC' ELSE N'ASC' END;
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @col, N' ', @dir);
        END
    END

    IF (LEN(@OrderBy) = 0) SET @OrderBy = N'Denumire ASC';

    DECLARE @sql NVARCHAR(MAX) = N'
SELECT Id, Guid, Denumire, Categorie, ClasaRisc, Producator, ModelTip, NumarSerie, CertificareCE, DataExpirare, Specificatii, DataCreare, DataModificare
FROM dbo.DispozitiveMedicale WITH (NOLOCK)
WHERE (@Search IS NULL OR @Search = '''' OR 
       UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Producator) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(ModelTip) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Specificatii) LIKE ''%'' + UPPER(@Search) + ''%'')
  AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie)
  AND (@ClasaRisc IS NULL OR @ClasaRisc = '''' OR @ClasaRisc = ''toate'' OR ClasaRisc = @ClasaRisc)
ORDER BY ' + @OrderBy + '
OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY
OPTION (RECOMPILE);

SELECT COUNT(1)
FROM dbo.DispozitiveMedicale WITH (NOLOCK)
WHERE (@Search IS NULL OR @Search = '''' OR 
       UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Producator) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(ModelTip) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Specificatii) LIKE ''%'' + UPPER(@Search) + ''%'')
  AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie)
  AND (@ClasaRisc IS NULL OR @ClasaRisc = '''' OR @ClasaRisc = ''toate'' OR ClasaRisc = @ClasaRisc)
OPTION (RECOMPILE);';

    EXEC sp_executesql
        @sql,
        N'@Search NVARCHAR(255), @Categorie NVARCHAR(100), @ClasaRisc NVARCHAR(10), @Offset INT, @PageSize INT',
        @Search = @Search, @Categorie = @Categorie, @ClasaRisc = @ClasaRisc, @Offset = @Offset, @PageSize = @PageSize;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DispozitiveMedicale_Update]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DispozitiveMedicale_Update]
    @Id INT,
    @Denumire NVARCHAR(255),
    @Categorie NVARCHAR(100) = NULL,
    @ClasaRisc NVARCHAR(10) = NULL,
    @Producator NVARCHAR(255) = NULL,
    @ModelTip NVARCHAR(100) = NULL,
    @NumarSerie NVARCHAR(100) = NULL,
    @CertificareCE BIT = 0,
    @DataExpirare DATE = NULL,
    @Specificatii NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.DispozitiveMedicale WHERE Id = @Id)
        BEGIN
            RAISERROR('Dispozitivul medical nu a fost gasit.', 16, 1);
            RETURN;
        END
        
        UPDATE dbo.DispozitiveMedicale 
        SET 
            Denumire = @Denumire,
            Categorie = @Categorie,
            ClasaRisc = @ClasaRisc,
            Producator = @Producator,
            ModelTip = @ModelTip,
            NumarSerie = @NumarSerie,
            CertificareCE = @CertificareCE,
            DataExpirare = @DataExpirare,
            Specificatii = @Specificatii,
            DataModificare = GETDATE()
        WHERE Id = @Id;
        
        SELECT @@ROWCOUNT AS RowsAffected;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPersonal]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get all personnel
CREATE PROCEDURE [dbo].[sp_GetAllPersonal]
AS
BEGIN
    SELECT 
        Id, Guid, Nume, Prenume, Judet, Localitate, Strada, 
        NumarStrada, CodPostal, PozitieOrganizatie, DataNasterii, 
        DataCreare, DataModificare, CNP, TipActIdentitate, 
        SerieActIdentitate, NumarActIdentitate, StareCivila, Gen
    FROM Persoana
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetPersoanaById]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get person by ID
CREATE PROCEDURE [dbo].[sp_GetPersoanaById]
    @Id int
AS
BEGIN
    SELECT 
        Id, Guid, Nume, Prenume, Judet, Localitate, Strada, 
        NumarStrada, CodPostal, PozitieOrganizatie, DataNasterii, 
        DataCreare, DataModificare, CNP, TipActIdentitate, 
        SerieActIdentitate, NumarActIdentitate, StareCivila, Gen
    FROM Persoana
    WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_MaterialeSanitare_Create]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MaterialeSanitare_Create]
    @Denumire NVARCHAR(255),
    @Categorie NVARCHAR(100) = NULL,
    @Specificatii NVARCHAR(MAX) = NULL,
    @UnitateaMasura NVARCHAR(50) = NULL,
    @Sterile BIT = 0,
    @UniUzinta BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        DECLARE @NewId INT;
        
        INSERT INTO dbo.MaterialeSanitare (
            Denumire,
            Categorie,
            Specificatii,
            UnitateaMasura,
            Sterile,
            UniUzinta,
            DataCreare,
            DataModificare
        )
        VALUES (
            @Denumire,
            @Categorie,
            @Specificatii,
            @UnitateaMasura,
            @Sterile,
            @UniUzinta,
            GETDATE(),
            GETDATE()
        );
        
        SET @NewId = SCOPE_IDENTITY();
        SELECT @NewId AS Id;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MaterialeSanitare_Delete]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MaterialeSanitare_Delete]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.MaterialeSanitare WHERE Id = @Id)
        BEGIN
            RAISERROR('Materialul sanitar nu a fost gasit.', 16, 1);
            RETURN;
        END
        
        DELETE FROM dbo.MaterialeSanitare WHERE Id = @Id;
        
        SELECT @@ROWCOUNT AS RowsAffected;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MaterialeSanitare_GetAll]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MaterialeSanitare_GetAll]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        Guid,
        Denumire,
        Categorie,
        Specificatii,
        UnitateaMasura,
        Sterile,
        UniUzinta,
        DataCreare,
        DataModificare
    FROM dbo.MaterialeSanitare
    ORDER BY Denumire ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MaterialeSanitare_GetAllGrouped]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MaterialeSanitare_GetAllGrouped]
    @Search NVARCHAR(255) = NULL,
    @Categorie NVARCHAR(100) = NULL,
    @GroupBy NVARCHAR(200) = NULL,
    @Sort NVARCHAR(400) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Build ORDER BY from GroupBy + Sort (whitelisted)
    DECLARE @OrderBy NVARCHAR(MAX) = N'';
    DECLARE @token NVARCHAR(100), @dir NVARCHAR(4);

    -- Append group-by columns (ASC)
    DECLARE @GroupByWork NVARCHAR(200) = @GroupBy;
    WHILE (@GroupByWork IS NOT NULL AND LEN(@GroupByWork) > 0)
    BEGIN
        DECLARE @pos INT = CHARINDEX(',', @GroupByWork);
        IF @pos > 0
        BEGIN
            SET @token = LTRIM(RTRIM(SUBSTRING(@GroupByWork, 1, @pos - 1)));
            SET @GroupByWork = SUBSTRING(@GroupByWork, @pos + 1, LEN(@GroupByWork));
        END
        ELSE
        BEGIN
            SET @token = LTRIM(RTRIM(@GroupByWork));
            SET @GroupByWork = NULL;
        END

        SET @token = CASE @token
            WHEN N'Id' THEN N'Id'
            WHEN N'Denumire' THEN N'Denumire'
            WHEN N'Categorie' THEN N'Categorie'
            WHEN N'UnitateaMasura' THEN N'UnitateaMasura'
            WHEN N'Sterile' THEN N'Sterile'
            WHEN N'UniUzinta' THEN N'UniUzinta'
            WHEN N'DataCreare' THEN N'DataCreare'
            WHEN N'DataModificare' THEN N'DataModificare'
            ELSE NULL END;

        IF (@token IS NOT NULL)
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @token, N' ASC');
    END

    -- Append sort definitions
    DECLARE @SortWork NVARCHAR(400) = @Sort;
    WHILE (@SortWork IS NOT NULL AND LEN(@SortWork) > 0)
    BEGIN
        DECLARE @part NVARCHAR(100);
        DECLARE @pos2 INT = CHARINDEX(',', @SortWork);
        IF @pos2 > 0
        BEGIN
            SET @part = LTRIM(RTRIM(SUBSTRING(@SortWork, 1, @pos2 - 1)));
            SET @SortWork = SUBSTRING(@SortWork, @pos2 + 1, LEN(@SortWork));
        END
        ELSE
        BEGIN
            SET @part = LTRIM(RTRIM(@SortWork));
            SET @SortWork = NULL;
        END

        -- split part as col[:dir]
        DECLARE @col NVARCHAR(100) = @part;
        DECLARE @colon INT = CHARINDEX(':', @part);
        IF @colon > 0
        BEGIN
            SET @col = LTRIM(RTRIM(SUBSTRING(@part, 1, @colon - 1)));
            SET @dir = LTRIM(RTRIM(SUBSTRING(@part, @colon + 1, 10)));
        END
        ELSE SET @dir = N'asc';

        SET @col = CASE @col
            WHEN N'Id' THEN N'Id'
            WHEN N'Denumire' THEN N'Denumire'
            WHEN N'Categorie' THEN N'Categorie'
            WHEN N'UnitateaMasura' THEN N'UnitateaMasura'
            WHEN N'Sterile' THEN N'Sterile'
            WHEN N'UniUzinta' THEN N'UniUzinta'
            WHEN N'DataCreare' THEN N'DataCreare'
            WHEN N'DataModificare' THEN N'DataModificare'
            ELSE NULL END;

        IF (@col IS NOT NULL)
        BEGIN
            SET @dir = CASE WHEN LOWER(@dir) = 'desc' THEN N'DESC' ELSE N'ASC' END;
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @col, N' ', @dir);
        END
    END

    IF (LEN(@OrderBy) = 0) SET @OrderBy = N'Denumire ASC';

    DECLARE @sql NVARCHAR(MAX) = N'
SELECT Id, Guid, Denumire, Categorie, Specificatii, UnitateaMasura, Sterile, UniUzinta, DataCreare, DataModificare
FROM dbo.MaterialeSanitare WITH (NOLOCK)
WHERE (@Search IS NULL OR @Search = '''' OR 
       UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Specificatii) LIKE ''%'' + UPPER(@Search) + ''%'')
  AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie)
ORDER BY ' + @OrderBy + '
OPTION (RECOMPILE);';

    EXEC sp_executesql
        @sql,
        N'@Search NVARCHAR(255), @Categorie NVARCHAR(100)',
        @Search = @Search, @Categorie = @Categorie;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MaterialeSanitare_GetById]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MaterialeSanitare_GetById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        Guid,
        Denumire,
        Categorie,
        Specificatii,
        UnitateaMasura,
        Sterile,
        UniUzinta,
        DataCreare,
        DataModificare
    FROM dbo.MaterialeSanitare
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MaterialeSanitare_GetPaged]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MaterialeSanitare_GetPaged]
    @Search NVARCHAR(255) = NULL,
    @Categorie NVARCHAR(100) = NULL,
    @Page INT = 1,
    @PageSize INT = 25,
    @Sort NVARCHAR(400) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Page IS NULL OR @Page < 1) SET @Page = 1;
    IF (@PageSize IS NULL OR @PageSize < 1) SET @PageSize = 25;
    IF (@PageSize > 5000) SET @PageSize = 5000;

    DECLARE @Offset INT = (@Page - 1) * @PageSize;
    DECLARE @OrderBy NVARCHAR(MAX) = N'Denumire ASC';

    -- Build ORDER BY from Sort parameter
    IF (@Sort IS NOT NULL AND LEN(@Sort) > 0)
    BEGIN
        DECLARE @sortParts TABLE (col NVARCHAR(100), dir NVARCHAR(4));
        
        -- Simple sort parsing (you can enhance this)
        IF (@Sort LIKE '%desc%')
            SET @OrderBy = N'Denumire DESC';
        ELSE IF (@Sort LIKE '%asc%')
            SET @OrderBy = N'Denumire ASC';
    END

    DECLARE @sql NVARCHAR(MAX) = N'
    SELECT Id, Guid, Denumire, Categorie, Specificatii, UnitateaMasura, Sterile, UniUzinta, DataCreare, DataModificare
    FROM dbo.MaterialeSanitare
    WHERE (@Search IS NULL OR @Search = '''' OR 
           UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
           UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
           UPPER(Specificatii) LIKE ''%'' + UPPER(@Search) + ''%'')
      AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie)
    ORDER BY ' + @OrderBy + '
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(1)
    FROM dbo.MaterialeSanitare
    WHERE (@Search IS NULL OR @Search = '''' OR 
           UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
           UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
           UPPER(Specificatii) LIKE ''%'' + UPPER(@Search) + ''%'')
      AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie);';

    EXEC sp_executesql
        @sql,
        N'@Search NVARCHAR(255), @Categorie NVARCHAR(100), @Offset INT, @PageSize INT',
        @Search = @Search, @Categorie = @Categorie, @Offset = @Offset, @PageSize = @PageSize;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MaterialeSanitare_GetPagedGrouped]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MaterialeSanitare_GetPagedGrouped]
    @Search NVARCHAR(255) = NULL,
    @Categorie NVARCHAR(100) = NULL,
    @GroupBy NVARCHAR(200) = NULL,
    @Sort NVARCHAR(400) = NULL,
    @Page INT = 1,
    @PageSize INT = 25
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Page IS NULL OR @Page < 1) SET @Page = 1;
    IF (@PageSize IS NULL OR @PageSize < 1) SET @PageSize = 25;
    IF (@PageSize > 1000) SET @PageSize = 1000; -- safety cap

    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    -- Build ORDER BY from GroupBy + Sort (whitelisted)
    DECLARE @OrderBy NVARCHAR(MAX) = N'';
    DECLARE @token NVARCHAR(100), @dir NVARCHAR(4);

    -- Append group-by columns (ASC) first for proper grouping
    DECLARE @GroupByWork NVARCHAR(200) = @GroupBy;
    WHILE (@GroupByWork IS NOT NULL AND LEN(@GroupByWork) > 0)
    BEGIN
        DECLARE @pos INT = CHARINDEX(',', @GroupByWork);
        IF @pos > 0
        BEGIN
            SET @token = LTRIM(RTRIM(SUBSTRING(@GroupByWork, 1, @pos - 1)));
            SET @GroupByWork = SUBSTRING(@GroupByWork, @pos + 1, LEN(@GroupByWork));
        END
        ELSE
        BEGIN
            SET @token = LTRIM(RTRIM(@GroupByWork));
            SET @GroupByWork = NULL;
        END

        SET @token = CASE @token
            WHEN N'Id' THEN N'Id'
            WHEN N'Denumire' THEN N'Denumire'
            WHEN N'Categorie' THEN N'Categorie'
            WHEN N'UnitateaMasura' THEN N'UnitateaMasura'
            WHEN N'Sterile' THEN N'Sterile'
            WHEN N'UniUzinta' THEN N'UniUzinta'
            WHEN N'DataCreare' THEN N'DataCreare'
            WHEN N'DataModificare' THEN N'DataModificare'
            ELSE NULL END;

        IF (@token IS NOT NULL)
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @token, N' ASC');
    END

    -- Append sort definitions
    DECLARE @SortWork NVARCHAR(400) = @Sort;
    WHILE (@SortWork IS NOT NULL AND LEN(@SortWork) > 0)
    BEGIN
        DECLARE @part NVARCHAR(100);
        DECLARE @pos2 INT = CHARINDEX(',', @SortWork);
        IF @pos2 > 0
        BEGIN
            SET @part = LTRIM(RTRIM(SUBSTRING(@SortWork, 1, @pos2 - 1)));
            SET @SortWork = SUBSTRING(@SortWork, @pos2 + 1, LEN(@SortWork));
        END
        ELSE
        BEGIN
            SET @part = LTRIM(RTRIM(@SortWork));
            SET @SortWork = NULL;
        END

        -- split part as col[:dir]
        DECLARE @col NVARCHAR(100) = @part;
        DECLARE @colon INT = CHARINDEX(':', @part);
        IF @colon > 0
        BEGIN
            SET @col = LTRIM(RTRIM(SUBSTRING(@part, 1, @colon - 1)));
            SET @dir = LTRIM(RTRIM(SUBSTRING(@part, @colon + 1, 10)));
        END
        ELSE SET @dir = N'asc';

        SET @col = CASE @col
            WHEN N'Id' THEN N'Id'
            WHEN N'Denumire' THEN N'Denumire'
            WHEN N'Categorie' THEN N'Categorie'
            WHEN N'UnitateaMasura' THEN N'UnitateaMasura'
            WHEN N'Sterile' THEN N'Sterile'
            WHEN N'UniUzinta' THEN N'UniUzinta'
            WHEN N'DataCreare' THEN N'DataCreare'
            WHEN N'DataModificare' THEN N'DataModificare'
            ELSE NULL END;

        IF (@col IS NOT NULL)
        BEGIN
            SET @dir = CASE WHEN LOWER(@dir) = 'desc' THEN N'DESC' ELSE N'ASC' END;
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @col, N' ', @dir);
        END
    END

    IF (LEN(@OrderBy) = 0) SET @OrderBy = N'Denumire ASC';

    -- Build dynamic SQL with grouping information
    DECLARE @selectFields NVARCHAR(MAX) = N'Id, Guid, Denumire, Categorie, Specificatii, UnitateaMasura, Sterile, UniUzinta, DataCreare, DataModificare';
    
    -- Add grouping fields for visual grouping in client
    IF (@GroupBy IS NOT NULL AND LEN(@GroupBy) > 0)
    BEGIN
        SET @selectFields = @selectFields + N', ' + 
            CASE 
                WHEN @GroupBy LIKE '%Categorie%' THEN N'Categorie as GroupCategorie, '
                ELSE N''
            END +
            CASE 
                WHEN @GroupBy LIKE '%UnitateaMasura%' THEN N'UnitateaMasura as GroupUnitateaMasura, '
                ELSE N''
            END +
            CASE 
                WHEN @GroupBy LIKE '%Sterile%' THEN N'CASE WHEN Sterile = 1 THEN ''Sterile'' ELSE ''Nesterile'' END as GroupSterile, '
                ELSE N''
            END +
            CASE 
                WHEN @GroupBy LIKE '%UniUzinta%' THEN N'CASE WHEN UniUzinta = 1 THEN ''Uz Unic'' ELSE ''Reutilizabil'' END as GroupUniUzinta, '
                ELSE N''
            END +
            N'ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + N') as RowNumber';
        
        -- Remove trailing comma if present
        SET @selectFields = LTRIM(RTRIM(@selectFields));
        IF RIGHT(@selectFields, 1) = ','
            SET @selectFields = LEFT(@selectFields, LEN(@selectFields) - 1);
    END

    DECLARE @sql NVARCHAR(MAX) = N'
SELECT ' + @selectFields + '
FROM dbo.MaterialeSanitare WITH (NOLOCK)
WHERE (@Search IS NULL OR @Search = '''' OR 
       UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Specificatii) LIKE ''%'' + UPPER(@Search) + ''%'')
  AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie)
ORDER BY ' + @OrderBy + '
OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY
OPTION (RECOMPILE);

SELECT COUNT(1)
FROM dbo.MaterialeSanitare WITH (NOLOCK)
WHERE (@Search IS NULL OR @Search = '''' OR 
       UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(Categorie) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Specificatii) LIKE ''%'' + UPPER(@Search) + ''%'')
  AND (@Categorie IS NULL OR @Categorie = '''' OR @Categorie = ''toate'' OR Categorie = @Categorie)
OPTION (RECOMPILE);';

    EXEC sp_executesql
        @sql,
        N'@Search NVARCHAR(255), @Categorie NVARCHAR(100), @Offset INT, @PageSize INT',
        @Search = @Search, @Categorie = @Categorie, @Offset = @Offset, @PageSize = @PageSize;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MaterialeSanitare_Update]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MaterialeSanitare_Update]
    @Id INT,
    @Denumire NVARCHAR(255),
    @Categorie NVARCHAR(100) = NULL,
    @Specificatii NVARCHAR(MAX) = NULL,
    @UnitateaMasura NVARCHAR(50) = NULL,
    @Sterile BIT = 0,
    @UniUzinta BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.MaterialeSanitare WHERE Id = @Id)
        BEGIN
            RAISERROR('Materialul sanitar nu a fost gasit.', 16, 1);
            RETURN;
        END
        
        UPDATE dbo.MaterialeSanitare 
        SET 
            Denumire = @Denumire,
            Categorie = @Categorie,
            Specificatii = @Specificatii,
            UnitateaMasura = @UnitateaMasura,
            Sterile = @Sterile,
            UniUzinta = @UniUzinta,
            DataModificare = GETDATE()
        WHERE Id = @Id;
        
        SELECT @@ROWCOUNT AS RowsAffected;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicament_Create]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Create
-- Returns: new identity (int)
-- =============================================
CREATE PROCEDURE [dbo].[sp_Medicament_Create]
    @Nume NVARCHAR(200),
    @DenumireComunaInternationala NVARCHAR(200),
    @Concentratie NVARCHAR(100),
    @FormaFarmaceutica NVARCHAR(100),
    @Producator NVARCHAR(200),
    @CodATC VARCHAR(20),
    @Status VARCHAR(50),
    @NumarAutorizatie VARCHAR(50) = NULL,
    @DataAutorizatie DATE = NULL,
    @DataExpirare DATE,
    @Ambalaj NVARCHAR(200) = NULL,
    @Prospect NTEXT = NULL,
    @Contraindicatii NTEXT = NULL,
    @Interactiuni NTEXT = NULL,
    @Pret DECIMAL(10,2) = NULL,
    @PretProducator DECIMAL(10,2) = NULL,
    @TVA DECIMAL(5,2) = NULL,
    @Compensat BIT = NULL,
    @PrescriptieMedicala BIT = NULL,
    @Stoc INT = 0,
    @StocSiguranta INT = 0,
    @UtilizatorActualizare NVARCHAR(100) = NULL,
    @Observatii NTEXT = NULL,
    @Activ BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Medicament
    (
        Nume,
        DenumireComunaInternationala,
        Concentratie,
        FormaFarmaceutica,
        Producator,
        CodATC,
        Status,
        NumarAutorizatie,
        DataAutorizatie,
        DataExpirare,
        Ambalaj,
        Prospect,
        Contraindicatii,
        Interactiuni,
        Pret,
        PretProducator,
        TVA,
        Compensat,
        PrescriptieMedicala,
        Stoc,
        StocSiguranta,
        UtilizatorActualizare,
        Observatii,
        Activ
    )
    VALUES
    (
        @Nume,
        @DenumireComunaInternationala,
        @Concentratie,
        @FormaFarmaceutica,
        @Producator,
        @CodATC,
        @Status,
        @NumarAutorizatie,
        @DataAutorizatie,
        @DataExpirare,
        @Ambalaj,
        @Prospect,
        @Contraindicatii,
        @Interactiuni,
        @Pret,
        @PretProducator,
        @TVA,
        @Compensat,
        @PrescriptieMedicala,
        @Stoc,
        @StocSiguranta,
        @UtilizatorActualizare,
        @Observatii,
        @Activ
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS MedicamentID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicament_Delete]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Delete
-- =============================================
CREATE PROCEDURE [dbo].[sp_Medicament_Delete]
    @MedicamentID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Medicament
    WHERE MedicamentID = @MedicamentID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicament_GetAll]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get All
-- =============================================
CREATE PROCEDURE [dbo].[sp_Medicament_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        MedicamentID,
        MedicamentGUID,
        Nume,
        DenumireComunaInternationala,
        Concentratie,
        FormaFarmaceutica,
        Producator,
        CodATC,
        Status,
        DataInregistrare,
        NumarAutorizatie,
        DataAutorizatie,
        DataExpirare,
        Ambalaj,
        Prospect,
        Contraindicatii,
        Interactiuni,
        Pret,
        PretProducator,
        TVA,
        Compensat,
        PrescriptieMedicala,
        Stoc,
        StocSiguranta,
        DataActualizare,
        UtilizatorActualizare,
        Observatii,
        Activ
    FROM dbo.Medicament
    ORDER BY Nume;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicament_GetAllGrouped]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Medicament_GetAllGrouped]
    @Search NVARCHAR(200) = NULL,
    @Status NVARCHAR(50) = NULL,
    @GroupBy NVARCHAR(200) = NULL,
    @Sort NVARCHAR(400) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Build ORDER BY from GroupBy + Sort (whitelisted)
    DECLARE @OrderBy NVARCHAR(MAX) = N'';
    DECLARE @token NVARCHAR(100), @dir NVARCHAR(4);

    -- Append group-by columns (ASC)
    DECLARE @GroupByWork NVARCHAR(200) = @GroupBy;
    WHILE (@GroupByWork IS NOT NULL AND LEN(@GroupByWork) > 0)
    BEGIN
        DECLARE @pos INT = CHARINDEX(',', @GroupByWork);
        IF @pos > 0
        BEGIN
            SET @token = LTRIM(RTRIM(SUBSTRING(@GroupByWork, 1, @pos - 1)));
            SET @GroupByWork = SUBSTRING(@GroupByWork, @pos + 1, LEN(@GroupByWork));
        END
        ELSE
        BEGIN
            SET @token = LTRIM(RTRIM(@GroupByWork));
            SET @GroupByWork = NULL;
        END

        SET @token = CASE @token
            WHEN N'MedicamentID' THEN N'MedicamentID'
            WHEN N'Nume' THEN N'Nume'
            WHEN N'DenumireComunaInternationala' THEN N'DenumireComunaInternationala'
            WHEN N'Concentratie' THEN N'Concentratie'
            WHEN N'FormaFarmaceutica' THEN N'FormaFarmaceutica'
            WHEN N'Producator' THEN N'Producator'
            WHEN N'CodATC' THEN N'CodATC'
            WHEN N'Status' THEN N'Status'
            WHEN N'Stoc' THEN N'Stoc'
            WHEN N'StocSiguranta' THEN N'StocSiguranta'
            WHEN N'DataInregistrare' THEN N'DataInregistrare'
            WHEN N'DataExpirare' THEN N'DataExpirare'
            ELSE NULL END;

        IF (@token IS NOT NULL)
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @token, N' ASC');
    END

    -- Append sort definitions
    DECLARE @SortWork NVARCHAR(400) = @Sort;
    WHILE (@SortWork IS NOT NULL AND LEN(@SortWork) > 0)
    BEGIN
        DECLARE @part NVARCHAR(100);
        DECLARE @pos2 INT = CHARINDEX(',', @SortWork);
        IF @pos2 > 0
        BEGIN
            SET @part = LTRIM(RTRIM(SUBSTRING(@SortWork, 1, @pos2 - 1)));
            SET @SortWork = SUBSTRING(@SortWork, @pos2 + 1, LEN(@SortWork));
        END
        ELSE
        BEGIN
            SET @part = LTRIM(RTRIM(@SortWork));
            SET @SortWork = NULL;
        END

        -- split part as col[:dir]
        DECLARE @col NVARCHAR(100) = @part;
        DECLARE @colon INT = CHARINDEX(':', @part);
        IF @colon > 0
        BEGIN
            SET @col = LTRIM(RTRIM(SUBSTRING(@part, 1, @colon - 1)));
            SET @dir = LTRIM(RTRIM(SUBSTRING(@part, @colon + 1, 10)));
        END
        ELSE SET @dir = N'asc';

        SET @col = CASE @col
            WHEN N'MedicamentID' THEN N'MedicamentID'
            WHEN N'Nume' THEN N'Nume'
            WHEN N'DenumireComunaInternationala' THEN N'DenumireComunaInternationala'
            WHEN N'Concentratie' THEN N'Concentratie'
            WHEN N'FormaFarmaceutica' THEN N'FormaFarmaceutica'
            WHEN N'Producator' THEN N'Producator'
            WHEN N'CodATC' THEN N'CodATC'
            WHEN N'Status' THEN N'Status'
            WHEN N'Stoc' THEN N'Stoc'
            WHEN N'StocSiguranta' THEN N'StocSiguranta'
            WHEN N'DataInregistrare' THEN N'DataInregistrare'
            WHEN N'DataExpirare' THEN N'DataExpirare'
            WHEN N'Pret' THEN N'Pret'
            WHEN N'PretProducator' THEN N'PretProducator'
            WHEN N'TVA' THEN N'TVA'
            ELSE NULL END;

        IF (@col IS NOT NULL)
        BEGIN
            SET @dir = CASE WHEN LOWER(@dir) = 'desc' THEN N'DESC' ELSE N'ASC' END;
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @col, N' ', @dir);
        END
    END

    IF (LEN(@OrderBy) = 0) SET @OrderBy = N'MedicamentID ASC';

    DECLARE @sql NVARCHAR(MAX) = N'
SELECT MedicamentID, MedicamentGUID, Nume, DenumireComunaInternationala, Concentratie, FormaFarmaceutica, Producator, CodATC, Status, DataInregistrare, NumarAutorizatie, DataAutorizatie, DataExpirare, Ambalaj, Prospect, Contraindicatii, Interactiuni, Pret, PretProducator, TVA, Compensat, PrescriptieMedicala, Stoc, StocSiguranta, DataActualizare, UtilizatorActualizare, Observatii, Activ
FROM dbo.Medicament WITH (NOLOCK)
WHERE (@Search IS NULL OR @Search = '''' OR Nume LIKE ''%'' + @Search + ''%'' OR DenumireComunaInternationala LIKE ''%'' + @Search + ''%'' OR Producator LIKE ''%'' + @Search + ''%'' OR CodATC LIKE ''%'' + @Search + ''%'' )
  AND (@Status IS NULL OR @Status = ''toate'' OR @Status = '''' OR Status = @Status)
ORDER BY ' + @OrderBy + '
OPTION (RECOMPILE);';

    EXEC sp_executesql
        @sql,
        N'@Search NVARCHAR(200), @Status NVARCHAR(50)',
        @Search = @Search, @Status = @Status;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicament_GetById]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get By Id
-- =============================================
CREATE PROCEDURE [dbo].[sp_Medicament_GetById]
    @MedicamentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        MedicamentID,
        MedicamentGUID,
        Nume,
        DenumireComunaInternationala,
        Concentratie,
        FormaFarmaceutica,
        Producator,
        CodATC,
        Status,
        DataInregistrare,
        NumarAutorizatie,
        DataAutorizatie,
        DataExpirare,
        Ambalaj,
        Prospect,
        Contraindicatii,
        Interactiuni,
        Pret,
        PretProducator,
        TVA,
        Compensat,
        PrescriptieMedicala,
        Stoc,
        StocSiguranta,
        DataActualizare,
        UtilizatorActualizare,
        Observatii,
        Activ
    FROM dbo.Medicament
    WHERE MedicamentID = @MedicamentID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicament_GetPagedGrouped]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Medicament_GetPagedGrouped]
    @Search NVARCHAR(200) = NULL,
    @Status NVARCHAR(50) = NULL,
    @GroupBy NVARCHAR(200) = NULL,
    @Sort NVARCHAR(400) = NULL,
    @Page INT = 1,
    @PageSize INT = 25
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Page IS NULL OR @Page < 1) SET @Page = 1;
    IF (@PageSize IS NULL OR @PageSize < 1) SET @PageSize = 25;
    IF (@PageSize > 1000) SET @PageSize = 1000;

    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    -- Build ORDER BY from GroupBy + Sort (whitelisted)
    DECLARE @OrderBy NVARCHAR(MAX) = N'';
    DECLARE @token NVARCHAR(100), @dir NVARCHAR(4);

    -- Append group-by columns (ASC)
    DECLARE @GroupByWork NVARCHAR(200) = @GroupBy;
    WHILE (@GroupByWork IS NOT NULL AND LEN(@GroupByWork) > 0)
    BEGIN
        DECLARE @pos INT = CHARINDEX(',', @GroupByWork);
        IF @pos > 0
        BEGIN
            SET @token = LTRIM(RTRIM(SUBSTRING(@GroupByWork, 1, @pos - 1)));
            SET @GroupByWork = SUBSTRING(@GroupByWork, @pos + 1, LEN(@GroupByWork));
        END
        ELSE
        BEGIN
            SET @token = LTRIM(RTRIM(@GroupByWork));
            SET @GroupByWork = NULL;
        END

        SET @token = CASE @token
            WHEN N'MedicamentID' THEN N'MedicamentID'
            WHEN N'Nume' THEN N'Nume'
            WHEN N'DenumireComunaInternationala' THEN N'DenumireComunaInternationala'
            WHEN N'Concentratie' THEN N'Concentratie'
            WHEN N'FormaFarmaceutica' THEN N'FormaFarmaceutica'
            WHEN N'Producator' THEN N'Producator'
            WHEN N'CodATC' THEN N'CodATC'
            WHEN N'Status' THEN N'Status'
            WHEN N'Stoc' THEN N'Stoc'
            WHEN N'StocSiguranta' THEN N'StocSiguranta'
            WHEN N'DataInregistrare' THEN N'DataInregistrare'
            WHEN N'DataExpirare' THEN N'DataExpirare'
            ELSE NULL END;

        IF (@token IS NOT NULL)
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @token, N' ASC');
    END

    -- Append sort definitions
    DECLARE @SortWork NVARCHAR(400) = @Sort;
    WHILE (@SortWork IS NOT NULL AND LEN(@SortWork) > 0)
    BEGIN
        DECLARE @part NVARCHAR(100);
        DECLARE @pos2 INT = CHARINDEX(',', @SortWork);
        IF @pos2 > 0
        BEGIN
            SET @part = LTRIM(RTRIM(SUBSTRING(@SortWork, 1, @pos2 - 1)));
            SET @SortWork = SUBSTRING(@SortWork, @pos2 + 1, LEN(@SortWork));
        END
        ELSE
        BEGIN
            SET @part = LTRIM(RTRIM(@SortWork));
            SET @SortWork = NULL;
        END

        -- split part as col[:dir]
        DECLARE @col NVARCHAR(100) = @part;
        DECLARE @colon INT = CHARINDEX(':', @part);
        IF @colon > 0
        BEGIN
            SET @col = LTRIM(RTRIM(SUBSTRING(@part, 1, @colon - 1)));
            SET @dir = LTRIM(RTRIM(SUBSTRING(@part, @colon + 1, 10)));
        END
        ELSE SET @dir = N'asc';

        SET @col = CASE @col
            WHEN N'MedicamentID' THEN N'MedicamentID'
            WHEN N'Nume' THEN N'Nume'
            WHEN N'DenumireComunaInternationala' THEN N'DenumireComunaInternationala'
            WHEN N'Concentratie' THEN N'Concentratie'
            WHEN N'FormaFarmaceutica' THEN N'FormaFarmaceutica'
            WHEN N'Producator' THEN N'Producator'
            WHEN N'CodATC' THEN N'CodATC'
            WHEN N'Status' THEN N'Status'
            WHEN N'Stoc' THEN N'Stoc'
            WHEN N'StocSiguranta' THEN N'StocSiguranta'
            WHEN N'DataInregistrare' THEN N'DataInregistrare'
            WHEN N'DataExpirare' THEN N'DataExpirare'
            WHEN N'Pret' THEN N'Pret'
            WHEN N'PretProducator' THEN N'PretProducator'
            WHEN N'TVA' THEN N'TVA'
            ELSE NULL END;

        IF (@col IS NOT NULL)
        BEGIN
            SET @dir = CASE WHEN LOWER(@dir) = 'desc' THEN N'DESC' ELSE N'ASC' END;
            SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @col, N' ', @dir);
        END
    END

    IF (LEN(@OrderBy) = 0) SET @OrderBy = N'MedicamentID ASC';

    DECLARE @sql NVARCHAR(MAX) = N'
SELECT MedicamentID, MedicamentGUID, Nume, DenumireComunaInternationala, Concentratie, FormaFarmaceutica, Producator, CodATC, Status, DataInregistrare, NumarAutorizatie, DataAutorizatie, DataExpirare, Ambalaj, Prospect, Contraindicatii, Interactiuni, Pret, PretProducator, TVA, Compensat, PrescriptieMedicala, Stoc, StocSiguranta, DataActualizare, UtilizatorActualizare, Observatii, Activ
FROM dbo.Medicament WITH (NOLOCK)
WHERE (@Search IS NULL OR @Search = '''' OR Nume LIKE ''%'' + @Search + ''%'' OR DenumireComunaInternationala LIKE ''%'' + @Search + ''%'' OR Producator LIKE ''%'' + @Search + ''%'' OR CodATC LIKE ''%'' + @Search + ''%'' )
  AND (@Status IS NULL OR @Status = ''toate'' OR @Status = '''' OR Status = @Status)
ORDER BY ' + @OrderBy + '
OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY
OPTION (RECOMPILE);

SELECT COUNT(1)
FROM dbo.Medicament WITH (NOLOCK)
WHERE (@Search IS NULL OR @Search = '''' OR Nume LIKE ''%'' + @Search + ''%'' OR DenumireComunaInternationala LIKE ''%'' + @Search + ''%'' OR Producator LIKE ''%'' + @Search + ''%'' OR CodATC LIKE ''%'' + @Search + ''%'' )
  AND (@Status IS NULL OR @Status = ''toate'' OR @Status = '''' OR Status = @Status)
OPTION (RECOMPILE);';

    EXEC sp_executesql
        @sql,
        N'@Search NVARCHAR(200), @Status NVARCHAR(50), @Offset INT, @PageSize INT',
        @Search = @Search, @Status = @Status, @Offset = @Offset, @PageSize = @PageSize;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicament_Update]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Update
-- =============================================
CREATE PROCEDURE [dbo].[sp_Medicament_Update]
    @MedicamentID INT,
    @Nume NVARCHAR(200),
    @DenumireComunaInternationala NVARCHAR(200),
    @Concentratie NVARCHAR(100),
    @FormaFarmaceutica NVARCHAR(100),
    @Producator NVARCHAR(200),
    @CodATC VARCHAR(20),
    @Status VARCHAR(50),
    @NumarAutorizatie VARCHAR(50) = NULL,
    @DataAutorizatie DATE = NULL,
    @DataExpirare DATE,
    @Ambalaj NVARCHAR(200) = NULL,
    @Prospect NTEXT = NULL,
    @Contraindicatii NTEXT = NULL,
    @Interactiuni NTEXT = NULL,
    @Pret DECIMAL(10,2) = NULL,
    @PretProducator DECIMAL(10,2) = NULL,
    @TVA DECIMAL(5,2) = NULL,
    @Compensat BIT = NULL,
    @PrescriptieMedicala BIT = NULL,
    @Stoc INT = 0,
    @StocSiguranta INT = 0,
    @UtilizatorActualizare NVARCHAR(100) = NULL,
    @Observatii NTEXT = NULL,
    @Activ BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Medicament
    SET 
        Nume = @Nume,
        DenumireComunaInternationala = @DenumireComunaInternationala,
        Concentratie = @Concentratie,
        FormaFarmaceutica = @FormaFarmaceutica,
        Producator = @Producator,
        CodATC = @CodATC,
        Status = @Status,
        NumarAutorizatie = @NumarAutorizatie,
        DataAutorizatie = @DataAutorizatie,
        DataExpirare = @DataExpirare,
        Ambalaj = @Ambalaj,
        Prospect = @Prospect,
        Contraindicatii = @Contraindicatii,
        Interactiuni = @Interactiuni,
        Pret = @Pret,
        PretProducator = @PretProducator,
        TVA = @TVA,
        Compensat = @Compensat,
        PrescriptieMedicala = @PrescriptieMedicala,
        Stoc = @Stoc,
        StocSiguranta = @StocSiguranta,
        DataActualizare = SYSDATETIME(),
        UtilizatorActualizare = @UtilizatorActualizare,
        Observatii = @Observatii,
        Activ = @Activ
    WHERE MedicamentID = @MedicamentID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Partener_Create]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Partener_Create]
    @CodIntern            NVARCHAR(50),
    @Denumire             NVARCHAR(200),
    @CodFiscal            NVARCHAR(50) = NULL,
    @Judet                NVARCHAR(100) = NULL,
    @Localitate           NVARCHAR(100) = NULL,
    @Adresa               NVARCHAR(500) = NULL,
    @UtilizatorCreare     NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validate required fields
        IF @CodIntern IS NULL OR LEN(LTRIM(RTRIM(@CodIntern))) = 0
        BEGIN
            RAISERROR('CodIntern este obligatoriu.', 16, 1);
            RETURN;
        END
        
        IF @Denumire IS NULL OR LEN(LTRIM(RTRIM(@Denumire))) = 0
        BEGIN
            RAISERROR('Denumire este obligatorie.', 16, 1);
            RETURN;
        END
        
        -- Check if CodIntern already exists
        IF EXISTS (SELECT 1 FROM dbo.Partener WHERE CodIntern = @CodIntern)
        BEGIN
            RAISERROR('Un partener cu acest cod intern deja există.', 16, 1);
            RETURN;
        END
        
        -- Insert new partner
        INSERT INTO dbo.Partener (
            CodIntern,
            Denumire,
            CodFiscal,
            Judet,
            Localitate,
            Adresa,
            UtilizatorCreare,
            UtilizatorActualizare
        )
        VALUES (
            @CodIntern,
            @Denumire,
            @CodFiscal,
            @Judet,
            @Localitate,
            @Adresa,
            @UtilizatorCreare,
            @UtilizatorCreare
        );
        
        -- Return the new ID
        SELECT SCOPE_IDENTITY() AS PartenerId;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Partener_Delete]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Partener_Delete]
    @PartenerId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validate required fields
        IF @PartenerId IS NULL OR @PartenerId <= 0
        BEGIN
            RAISERROR('PartenerId invalid.', 16, 1);
            RETURN;
        END
        
        -- Check if partner exists and is active
        IF NOT EXISTS (SELECT 1 FROM dbo.Partener WHERE PartenerId = @PartenerId AND Activ = 1)
        BEGIN
            RAISERROR('Partenerul nu există sau este deja inactiv.', 16, 1);
            RETURN;
        END
        
        -- Soft delete (set Activ = 0)
        UPDATE dbo.Partener 
        SET 
            Activ = 0,
            DataActualizare = GETDATE()
        WHERE PartenerId = @PartenerId;
        
        -- Return number of affected rows
        SELECT @@ROWCOUNT AS RowsAffected;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Partener_GetAll]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Partener_GetAll]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        PartenerId,
        PartenerGuid,
        CodIntern,
        Denumire,
        CodFiscal,
        Judet,
        Localitate,
        Adresa,
        DataCreare,
        DataActualizare,
        UtilizatorCreare,
        UtilizatorActualizare,
        Activ
    FROM dbo.Partener WITH (NOLOCK)
    WHERE Activ = 1
    ORDER BY Denumire ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Partener_GetById]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Partener_GetById]
    @PartenerId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        PartenerId,
        PartenerGuid,
        CodIntern,
        Denumire,
        CodFiscal,
        Judet,
        Localitate,
        Adresa,
        DataCreare,
        DataActualizare,
        UtilizatorCreare,
        UtilizatorActualizare,
        Activ
    FROM dbo.Partener WITH (NOLOCK)
    WHERE PartenerId = @PartenerId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Partener_GetPaged]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Partener_GetPaged]
    @Search   NVARCHAR(200) = NULL,
    @Judet    NVARCHAR(100) = NULL,
    @Page     INT           = 1,
    @PageSize INT           = 25,
    @Sort     NVARCHAR(400) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Page IS NULL OR @Page < 1) SET @Page = 1;
    IF (@PageSize IS NULL OR @PageSize < 1) SET @PageSize = 25;
    IF (@PageSize > 5000) SET @PageSize = 5000; -- safety cap

    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    -- Build ORDER BY from Sort parameter (whitelisted columns)
    DECLARE @OrderBy NVARCHAR(MAX) = N'';

    IF (@Sort IS NOT NULL AND LEN(@Sort) > 0)
    BEGIN
        DECLARE @token NVARCHAR(100), @dir NVARCHAR(4);
        
        WHILE (@Sort IS NOT NULL AND LEN(@Sort) > 0)
        BEGIN
            DECLARE @pos INT = CHARINDEX(',', @Sort);
            DECLARE @part NVARCHAR(100);
            
            IF @pos > 0
            BEGIN
                SET @part = LTRIM(RTRIM(SUBSTRING(@Sort, 1, @pos - 1)));
                SET @Sort = SUBSTRING(@Sort, @pos + 1, LEN(@Sort));
            END
            ELSE
            BEGIN
                SET @part = LTRIM(RTRIM(@Sort));
                SET @Sort = NULL;
            END

            -- Split part as col[:dir]
            DECLARE @col NVARCHAR(100) = @part;
            DECLARE @colon INT = CHARINDEX(':', @part);
            IF @colon > 0
            BEGIN
                SET @col = LTRIM(RTRIM(SUBSTRING(@part, 1, @colon - 1)));
                SET @dir = LTRIM(RTRIM(SUBSTRING(@part, @colon + 1, 10)));
            END
            ELSE SET @dir = N'asc';

            -- Whitelist columns to prevent SQL injection
            SET @col = CASE @col
                WHEN N'PartenerId' THEN N'PartenerId'
                WHEN N'CodIntern' THEN N'CodIntern'
                WHEN N'Denumire' THEN N'Denumire'
                WHEN N'CodFiscal' THEN N'CodFiscal'
                WHEN N'Judet' THEN N'Judet'
                WHEN N'Localitate' THEN N'Localitate'
                WHEN N'DataCreare' THEN N'DataCreare'
                WHEN N'DataActualizare' THEN N'DataActualizare'
                ELSE NULL END;

            IF (@col IS NOT NULL)
            BEGIN
                SET @dir = CASE WHEN LOWER(@dir) = 'desc' THEN N'DESC' ELSE N'ASC' END;
                SET @OrderBy = CONCAT(@OrderBy, CASE WHEN LEN(@OrderBy)>0 THEN N', ' ELSE N'' END, @col, N' ', @dir);
            END
        END
    END

    IF (LEN(@OrderBy) = 0) SET @OrderBy = N'Denumire ASC';

    DECLARE @sql NVARCHAR(MAX) = N'
SELECT PartenerId, PartenerGuid, CodIntern, Denumire, CodFiscal, Judet, Localitate, Adresa, DataCreare, DataActualizare, UtilizatorCreare, UtilizatorActualizare, Activ
FROM dbo.Partener WITH (NOLOCK)
WHERE Activ = 1
  AND (@Search IS NULL OR @Search = '''' OR 
       UPPER(CodIntern) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(CodFiscal) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Localitate) LIKE ''%'' + UPPER(@Search) + ''%'')
  AND (@Judet IS NULL OR @Judet = '''' OR @Judet = ''toate'' OR Judet = @Judet)
ORDER BY ' + @OrderBy + '
OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY
OPTION (RECOMPILE);

SELECT COUNT(1)
FROM dbo.Partener WITH (NOLOCK)
WHERE Activ = 1
  AND (@Search IS NULL OR @Search = '''' OR 
       UPPER(CodIntern) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(Denumire) LIKE ''%'' + UPPER(@Search) + ''%'' OR 
       UPPER(CodFiscal) LIKE ''%'' + UPPER(@Search) + ''%'' OR
       UPPER(Localitate) LIKE ''%'' + UPPER(@Search) + ''%'')
  AND (@Judet IS NULL OR @Judet = '''' OR @Judet = ''toate'' OR Judet = @Judet)
OPTION (RECOMPILE);';

    EXEC sp_executesql
        @sql,
        N'@Search NVARCHAR(200), @Judet NVARCHAR(100), @Offset INT, @PageSize INT',
        @Search = @Search, @Judet = @Judet, @Offset = @Offset, @PageSize = @PageSize;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Partener_Update]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Partener_Update]
    @PartenerId           INT,
    @CodIntern            NVARCHAR(50),
    @Denumire             NVARCHAR(200),
    @CodFiscal            NVARCHAR(50) = NULL,
    @Judet                NVARCHAR(100) = NULL,
    @Localitate           NVARCHAR(100) = NULL,
    @Adresa               NVARCHAR(500) = NULL,
    @UtilizatorActualizare NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validate required fields
        IF @PartenerId IS NULL OR @PartenerId <= 0
        BEGIN
            RAISERROR('PartenerId invalid.', 16, 1);
            RETURN;
        END
        
        IF @CodIntern IS NULL OR LEN(LTRIM(RTRIM(@CodIntern))) = 0
        BEGIN
            RAISERROR('CodIntern este obligatoriu.', 16, 1);
            RETURN;
        END
        
        IF @Denumire IS NULL OR LEN(LTRIM(RTRIM(@Denumire))) = 0
        BEGIN
            RAISERROR('Denumire este obligatorie.', 16, 1);
            RETURN;
        END
        
        -- Check if partner exists
        IF NOT EXISTS (SELECT 1 FROM dbo.Partener WHERE PartenerId = @PartenerId)
        BEGIN
            RAISERROR('Partenerul nu există.', 16, 1);
            RETURN;
        END
        
        -- Check if CodIntern already exists for another partner
        IF EXISTS (SELECT 1 FROM dbo.Partener WHERE CodIntern = @CodIntern AND PartenerId != @PartenerId)
        BEGIN
            RAISERROR('Un alt partener cu acest cod intern deja există.', 16, 1);
            RETURN;
        END
        
        -- Update partner
        UPDATE dbo.Partener 
        SET 
            CodIntern = @CodIntern,
            Denumire = @Denumire,
            CodFiscal = @CodFiscal,
            Judet = @Judet,
            Localitate = @Localitate,
            Adresa = @Adresa,
            DataActualizare = GETDATE(),
            UtilizatorActualizare = @UtilizatorActualizare
        WHERE PartenerId = @PartenerId;
        
        -- Return number of affected rows
        SELECT @@ROWCOUNT AS RowsAffected;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePersoana]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update person
CREATE PROCEDURE [dbo].[sp_UpdatePersoana]
    @Id int,
    @Nume nvarchar(100),
    @Prenume nvarchar(100),
    @Judet nvarchar(100) = NULL,
    @Localitate nvarchar(100) = NULL,
    @Strada nvarchar(150) = NULL,
    @NumarStrada nvarchar(50) = NULL,
    @CodPostal nvarchar(20) = NULL,
    @PozitieOrganizatie nvarchar(100) = NULL,
    @DataNasterii date = NULL,
    @CNP nvarchar(13) = NULL,
    @TipActIdentitate nvarchar(5) = NULL,
    @SerieActIdentitate nvarchar(2) = NULL,
    @NumarActIdentitate nvarchar(6) = NULL,
    @StareCivila nvarchar(50) = NULL,
    @Gen nvarchar(50) = NULL
AS
BEGIN
    UPDATE Persoana SET
        Nume = @Nume,
        Prenume = @Prenume,
        Judet = @Judet,
        Localitate = @Localitate,
        Strada = @Strada,
        NumarStrada = @NumarStrada,
        CodPostal = @CodPostal,
        PozitieOrganizatie = @PozitieOrganizatie,
        DataNasterii = @DataNasterii,
        DataModificare = GETDATE(),
        CNP = @CNP,
        TipActIdentitate = @TipActIdentitate,
        SerieActIdentitate = @SerieActIdentitate,
        NumarActIdentitate = @NumarActIdentitate,
        StareCivila = @StareCivila,
        Gen = @Gen
    WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Utilizator_Authenticate]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: usp_Utilizator_Authenticate
-- Description: Returns user data for authentication based on username or email
-- =============================================
CREATE PROCEDURE [dbo].[usp_Utilizator_Authenticate]
    @NumeUtilizatorSauEmail nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Return user details for authentication
    -- Password will be verified in application code using BCrypt
    SELECT 
        u.Id,
        u.Guid,
        u.PersoanaId,
        u.NumeUtilizator,
        u.ParolaHash,
        u.Email,
        u.Telefon,
        u.DataCreare,
        u.DataModificare,
        p.Nume,
        p.Prenume
    FROM 
        Utilizator u
    LEFT JOIN 
        Persoana p ON u.PersoanaId = p.Id
    WHERE 
        u.NumeUtilizator = @NumeUtilizatorSauEmail
        OR u.Email = @NumeUtilizatorSauEmail;
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Utilizator_Delete]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: usp_Utilizator_Delete
-- Description: Deletes a user
-- =============================================
CREATE PROCEDURE [dbo].[usp_Utilizator_Delete]
    @Id int
AS
BEGIN
    SET NOCOUNT ON;
    
    
DECLARE @ErrorMsg nvarchar(255) = NULL;
    DECLARE @RowCount int = 0;
    
    -- Check for dependencies (modify as needed based on your application)
    -- Example: Check if user is related to important data
    -- IF EXISTS (SELECT 1 FROM SomeTable WHERE UtilizatorId = @Id)
    -- BEGIN
    --     SET @ErrorMsg = 'Utilizatorul nu poate fi șters deoarece este asociat cu alte înregistrări';
    --     RAISERROR(@ErrorMsg, 16, 1);
    --     RETURN -1;
    -- END
    
    -- Delete the user
    DELETE FROM Utilizator WHERE Id = @Id;
    
    SET @RowCount = @@ROWCOUNT;
    select @RowCount
    
    -- If no rows were deleted, the user might not exist
    IF @RowCount = 0
    BEGIN
        SET @ErrorMsg = 'Utilizatorul nu a fost găsit';
        RAISERROR(@ErrorMsg, 16, 1);
   
     RETURN -2;
    END
    
    RETURN @RowCount;
END



GO
/****** Object:  StoredProcedure [dbo].[usp_Utilizator_GetAll]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: usp_Utilizator_GetAll
-- Description: Returns all users with person information
-- =============================================
CREATE PROCEDURE [dbo].[usp_Utilizator_GetAll]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.Id,
        u.Guid,
        u.PersoanaId,
        u.NumeUtilizator,
        u.Email,
        u.Telefon,
        u.DataCreare,
        u.DataModificare,
        CONCAT(p.Nume, ' ', p.Prenume) AS NumeComplet
    FROM 
        Utilizator u
    LEFT JOIN 
        Persoana p ON u.PersoanaId = p.Id
    ORDER BY 
        u.NumeUtilizator;
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Utilizator_GetById]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: usp_Utilizator_GetById
-- Description: Returns a specific user by ID with person information
-- =============================================
CREATE PROCEDURE [dbo].[usp_Utilizator_GetById]
    @Id int
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.Id,
        u.Guid,
        u.PersoanaId,
        u.NumeUtilizator,
        u.Email,
        u.Telefon,
        u.DataCreare,
        u.DataModificare,
        CONCAT(p.Nume, ' ', p.Prenume) AS NumeComplet
    FROM 
        Utilizator u
    LEFT JOIN 
        Persoana p ON u.PersoanaId = p.Id
    WHERE 
        u.Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Utilizator_Insert]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: usp_Utilizator_Insert
-- Description: Creates a new user and returns the ID
-- =============================================
CREATE PROCEDURE [dbo].[usp_Utilizator_Insert]
    @NumeUtilizator nvarchar(50),
    @ParolaHash nvarchar(255),
    @Email nvarchar(100),
    @Telefon nvarchar(20) = NULL,
    @PersoanaId int
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ErrorMsg nvarchar(255) = NULL;
    
    -- Check if username already exists
    IF EXISTS (SELECT 1 FROM Utilizator WHERE NumeUtilizator = @NumeUtilizator)
    BEGIN
        SET @ErrorMsg = 'Numele de utilizator există deja';
        RAISERROR(@ErrorMsg, 16, 1);
        RETURN -1;
    END
    
    -- Check if email already exists
    IF EXISTS (SELECT 1 FROM Utilizator WHERE Email = @Email)
    BEGIN
        SET @ErrorMsg = 'Adresa de email există deja';
        RAISERROR(@ErrorMsg, 16, 1);
        RETURN -2;
    END
    
    -- Check if associated person exists
    IF NOT EXISTS (SELECT 1 FROM Persoana WHERE Id = @PersoanaId)
    BEGIN
        SET @ErrorMsg = 'Persoana asociată nu există';
        RAISERROR(@ErrorMsg, 16, 1);
        RETURN -3;
    END
    
    DECLARE @Guid uniqueidentifier = NEWID();
    DECLARE @CurrentDateTime datetime = GETUTCDATE();
    
    INSERT INTO Utilizator (
        Guid,
        NumeUtilizator,
        ParolaHash,
        Email,
        Telefon,
        PersoanaId,
        DataCreare,
        DataModificare
    )
    VALUES (
        @Guid,
        @NumeUtilizator,
        @ParolaHash,
        @Email,
        @Telefon,
        @PersoanaId,
        @CurrentDateTime,
        @CurrentDateTime
    );
    
    RETURN SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Utilizator_Update]    Script Date: 8/22/2025 7:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: usp_Utilizator_Update
-- Description: Updates an existing user
-- =============================================
CREATE PROCEDURE [dbo].[usp_Utilizator_Update]
    @Id int,
    @NumeUtilizator nvarchar(50),
    @Email nvarchar(100),
    @Telefon nvarchar(20) = NULL,
    @PersoanaId int,
    @ParolaHash nvarchar(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ErrorMsg nvarchar(255) = NULL;
    DECLARE @RowCount int = 0;
    
    -- Check if username already exists (but not for the current user)
    IF EXISTS (SELECT 1 FROM Utilizator WHERE NumeUtilizator = @NumeUtilizator AND Id <> @Id)
    BEGIN
        SET @ErrorMsg = 'Numele de utilizator există deja';
        RAISERROR(@ErrorMsg, 16, 1);
        RETURN -1;
    END
    
    -- Check if email already exists (but not for the current user)
    IF EXISTS (SELECT 1 FROM Utilizator WHERE Email = @Email AND Id <> @Id)
    BEGIN
        SET @ErrorMsg = 'Adresa de email există deja';
        RAISERROR(@ErrorMsg, 16, 1);
        RETURN -2;
    END
    
    -- Check if associated person exists
    IF NOT EXISTS (SELECT 1 FROM Persoana WHERE Id = @PersoanaId)
    BEGIN
        SET @ErrorMsg = 'Persoana asociată nu există';
        RAISERROR(@ErrorMsg, 16, 1);
        RETURN -3;
    END
    
    DECLARE @CurrentDateTime datetime = GETUTCDATE();
    
    -- If password is provided, update it; otherwise, keep existing password
    IF @ParolaHash IS NOT NULL
    BEGIN
        UPDATE Utilizator
        SET 
            NumeUtilizator = @NumeUtilizator,
            ParolaHash = @ParolaHash,
            Email = @Email,
            Telefon = @Telefon,
            PersoanaId = @PersoanaId,
            DataModificare = @CurrentDateTime
        WHERE 
            Id = @Id;
    END
    ELSE
    BEGIN
        UPDATE Utilizator
        SET 
            NumeUtilizator = @NumeUtilizator,
            Email = @Email,
            Telefon = @Telefon,
            PersoanaId = @PersoanaId,
            DataModificare = @CurrentDateTime
        WHERE 
            Id = @Id;
    END
    
    SET @RowCount = @@ROWCOUNT;
    
    -- If no rows were updated, the user might not exist
    IF @RowCount = 0
    BEGIN
        SET @ErrorMsg = 'Utilizatorul nu a fost găsit sau nu s-au făcut modificări';
        RAISERROR(@ErrorMsg, 16, 1);
        RETURN -4;
    END
    
    RETURN @RowCount;
END

GO
